body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.container {
  padding-top: 60px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}

p {
  opacity: 0.7;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  background: gold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
